{% extends "layouts/app.twig" %}

{% block title %}
Add a new property
{% endblock title %}

{% block content %}
<div class="container px-2 mx-auto">
    <div class="my-4 p-4 bg-white shadow rounded">

        {% if errors is iterable %}
        <div class="px-4 py-8 bg-red-200 text-red-600 text-center rounded-lg border-2 border-red-300">
            Please fix the validation errors below
        </div>
        {% endif %}

        <form action="{{ url_for('properties.store') }}" method="post" enctype="multipart/form-data">
            <!-- CSRF here -->

            <div class="flex flex-wrap">

                <!-- County -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">County</span>
                    <input type="text" name="county" value="{{ old.county ?? '' }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.county ? 'border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.county is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.county[0] }}</p>
                    {% endif %}
                </div>

                <!-- Country -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Country</span>
                    <input type="text" name="country" value="{{ old.country ?? '' }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.country ? 'border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.country is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.country[0] }}</p>
                    {% endif %}
                </div>

                <!-- Town -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Town</span>
                    <input type="text" name="town" value="{{ old.town ?? '' }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.town ? 'border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.town is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.town[0] }}</p>
                    {% endif %}
                </div>

                <!-- Postcode -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Postcode</span>
                    <input type="text" name="postcode" value="{{ old.postcode ?? '' }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
                </div>

                <!-- Displayable Address -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Displayable
                        Address</span>
                    <input type="text" name="address" value="{{ old.address ?? '' }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.address ? 'border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.address is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.address[0] }}</p>
                    {% endif %}
                </div>

                <!-- Price -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Price</span>
                    <input type="text" name="price" value="{{ old.price ?? 0 }}"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.price ? 'border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.price is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.price[0] }}</p>
                    {% endif %}
                </div>

                <!-- No. of Bedrooms -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Number of
                        Bedrooms</span>
                    <div class="relative">
                        <select name="num_bedrooms"
                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option {{ old.num_bedrooms == 0 ? 'selected' : '' }}>0</option>
                            <option {{ old.num_bedrooms is not defined ? 'selected' : old.num_bedrooms == 1 ? 'selected' : '' }}>1</option>
                            <option {{ old.num_bedrooms == 2 ? 'selected' : '' }}>2</option>
                            <option {{ old.num_bedrooms == 3 ? 'selected' : '' }}>3</option>
                            <option {{ old.num_bedrooms == 4 ? 'selected' : '' }}>4</option>
                            <option {{ old.num_bedrooms == 5 ? 'selected' : '' }}>5</option>
                            <option {{ old.num_bedrooms == 6 ? 'selected' : '' }}>6</option>
                            <option {{ old.num_bedrooms == 7 ? 'selected' : '' }}>7</option>
                            <option {{ old.num_bedrooms == 8 ? 'selected' : '' }}>8</option>
                            <option {{ old.num_bedrooms == 9 ? 'selected' : '' }}>9</option>
                            <option {{ old.num_bedrooms == 10 ? 'selected' : '' }}>10</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- No. of Bathrooms -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Number of
                        Bathrooms</span>
                    <div class="relative">
                        <select name="num_bathrooms"
                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option {{ old.num_bathrooms == 0 ? 'selected' : '' }}>0</option>
                            <option {{ old.num_bathrooms is not defined ? 'selected' : old.num_bathrooms == 1 ? 'selected' : '' }}>1</option>
                            <option {{ old.num_bathrooms == 2 ? 'selected' : '' }}>2</option>
                            <option {{ old.num_bathrooms == 3 ? 'selected' : '' }}>3</option>
                            <option {{ old.num_bathrooms == 4 ? 'selected' : '' }}>4</option>
                            <option {{ old.num_bathrooms == 5 ? 'selected' : '' }}>5</option>
                            <option {{ old.num_bathrooms == 6 ? 'selected' : '' }}>6</option>
                            <option {{ old.num_bathrooms == 7 ? 'selected' : '' }}>7</option>
                            <option {{ old.num_bathrooms == 8 ? 'selected' : '' }}>8</option>
                            <option {{ old.num_bathrooms == 9 ? 'selected' : '' }}>9</option>
                            <option {{ old.num_bathrooms == 10 ? 'selected' : '' }}>10</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Property Type -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Property
                        Type</span>
                    <div class="relative">
                        <select name="property_type"
                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option {{ old.property_type == 'End of Terrace' ? 'selected' : '' }}>End of Terrace</option>
                            <option {{ old.property_type == 'Flat' ? 'selected' : '' }}>Flat
                            </option>
                            <option {{ old.property_type == 'Terraced' ? 'selected' : '' }}>Terraced</option>
                            <option {{ old.property_type == 'Bungalow' ? 'selected' : '' }}>Bungalow</option>
                            <option {{ old.property_type == 'Cottage' ? 'selected' : '' }}>Cottage</option>
                            <option {{ old.property_type == 'Semi-detached' ? 'selected' : '' }}>Semi-detached</option>
                            <option {{ old.property_type == 'Detatched' ? 'selected' : '' }}>Detatched</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Type (Sale or Rent) -->
                <div class="p-4 w-full sm:w-1/2">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">For Sale /
                        Rent</span>
                    <div class="">
                        <input type="radio" name="type" value="sale" id="sale"
                            {{ old.type is not defined ? 'checked' : old.type == 'sale' ? 'checked' : '' }}>
                        <label for="sale" class="ml-2">Sale</label>
                    </div>
                    <div class="">
                        <input type="radio" name="type" value="rent" id="rent"
                            {{ old.type == 'rent' ? 'checked' : '' }}>
                        <label for="rent" class="ml-2">Rent</label>
                    </div>
                    {% if errors is defined and errors.type is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.type[0] }}</p>
                    {% endif %}
                </div>

                <!-- Description -->
                <div class="p-4 w-full">
                    <span class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Description</span>
                    <textarea name="description" rows="5"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white {{ errors ? errors.description ? 'border-red-400' : '' : '' }}">{{ old.description ?? '' }}</textarea>
                    {% if errors is defined and errors.description is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.description[0] }}</p>
                    {% endif %}
                </div>

                <!-- Image -->
                <div class="p-4 w-full">
                    <span class="mt-4 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Property Image</span>
                    <input type="file" name="image" id="fileInput"
                        class=" w-full p-2 border-2 focus:outline-none hover:border-gray-500 focus:border-gray-500 {{ errors ? errors.image ? 'border border-red-400' : '' : '' }}">
                    {% if errors is defined and errors.description is defined %}
                    <p class="text-red-500 text-xs italic">{{ errors.image[0] }}</p>
                    {% endif %}
                    <p id="file-too-large" class="mt-2 text-red-500 text-xs italic hidden"></p>
                </div>

                <!-- Submit Button -->
                <div class="p-4 w-full">
                    <input type="submit" value="Submit Property"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% include "properties/_minimalFileValidation.twig" %}
{% endblock scripts %}