{% extends "layouts/app.twig" %}

{% block title %}
Property List
{% endblock title %}

{% block content %}

<div class="container px-2 mx-auto">

    <!-- Pagination Buttons -->
    <div class="mt-8 flex justify-center items-center">
        <!-- First page -->
        {% if first_page != current_page %}
        <a href="{{ url_for('properties.index') }}?page={{ first_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                First
            </span>
        </a>
        {% endif %}

        <!-- Previous page -->
        {% if previous_page %}
        <a href="{{ url_for('properties.index') }}?page={{ previous_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                {{ previous_page }}
            </span>
        </a>
        {% endif %}

        <!-- Current page -->
        <span
            class="px-4 py-2 text-xs uppercase bg-gray-200 text-gray-500 rounded-full flex items-center justify-center">
            {{ current_page }}
        </span>

        <!-- Next page -->
        {% if next_page %}
        <a href="{{ url_for('properties.index') }}?page={{ next_page}}" class="ml-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                {{ next_page }}
            </span>
        </a>
        {% endif %}

        <!-- Last page -->
        {% if last_page != current_page %}
        <a href="{{ url_for('properties.index') }}?page={{ last_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase ml-2 bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                Last
            </span>
        </a>
        {% endif %}
    </div>
    <!-- End Pagination Buttons -->

    <!-- Header Area -->
    <div class="mt-8 flex items-center">
        <h1 class="text-2xl text-gray-700">Property List</h1>

        <a href="{{ url_for('properties.create') }}"
            class="ml-3 px-3 py-1 bg-blue-200 rounded-full text-xs uppercase hover:shadow-outline">Add Property</a>

        <a href="{{ url_for('properties.refresh-from-api') }}" onclick="confirmReload(event)" id="load-from-api"
            class="ml-3 px-3 py-1 bg-gray-300 text-gray-600 text-xs rounded-full uppercase hover:shadow-outline">Reload
            from API</a>
    </div>
    <!-- End Header Area -->

    <!-- Property Cards -->
    <div class="-mb-3 -mr-3 mt-4 flex flex-wrap">
        {% for property in properties %}
        <div class="w-full sm:w-1/2 pr-3 pb-3">
            <a href="{{ url_for('properties.show', {'id': property.id}) }}">
                <div class="p-4 h-full bg-white shadow rounded hover:shadow-outline">
                    <div class="sm:flex ">
                        <!-- Image -->
                        {% if property.image_full %}
                        <div class="p-2 h-20 w-20 rounded border border-gray-300 bg-center bg-cover bg-no-repeat"
                            style="background-image: url('{{ property.image_full }}');"></div>
                        {% endif %}

                        <div class="ml-4">
                            <p class="flex flex-wrap items-center text-xl text-gray-700">
                                <span class="mr-2">{{ property.town }}</span>
                                <span class="text-sm text-gray-500">(&pound;{{ property.price }})</span>
                            </p>
                            <p class="text-gray-700">{{ property.address }}</p>
                            <p class="text-sm text-gray-500">For {{ property.type |title }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- End Property Cards -->

    <!-- Pagination Buttons... Again -->
    <div class="my-8 flex justify-center items-center">
        <!-- First page -->
        {% if first_page != current_page %}
        <a href="{{ url_for('properties.index') }}?page={{ first_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                First
            </span>
        </a>
        {% endif %}

        <!-- Previous page -->
        {% if previous_page %}
        <a href="{{ url_for('properties.index') }}?page={{ previous_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                {{ previous_page }}
            </span>
        </a>
        {% endif %}

        <!-- Current page -->
        <span
            class="px-4 py-2 text-xs uppercase bg-gray-200 text-gray-500 rounded-full flex items-center justify-center">
            {{ current_page }}
        </span>

        <!-- Next page -->
        {% if next_page %}
        <a href="{{ url_for('properties.index') }}?page={{ next_page}}" class="ml-2">
            <span
                class="px-4 py-2 text-xs uppercase bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                {{ next_page }}
            </span>
        </a>
        {% endif %}

        <!-- Last page -->
        {% if last_page != current_page %}
        <a href="{{ url_for('properties.index') }}?page={{ last_page }}" class="mr-2">
            <span
                class="px-4 py-2 text-xs uppercase ml-2 bg-blue-400 text-blue-100 rounded-full flex items-center justify-center">
                Last
            </span>
        </a>
        {% endif %}
    </div>
    <!-- End Pagination Buttons... Again -->
</div>
{% endblock content %}

{% block scripts %}
<script>
    const confirmReload = e => {
        e.preventDefault();
        if (confirm("Are you sure? This may take a minute...")) {
            location = e.target.getAttribute('href');
        }
    }
</script>
{% endblock scripts %}