{% extends "layouts/app.twig" %}

{% block title %}
{{ property.address }}
{% endblock title %}

{% block content %}
<div class="container px-2 mx-auto">
    <div class="mt-4 p-4 bg-white shadow rounded">
        <div class="sm:flex ">
            <!-- Image -->
            {% if property.image_full %}
            <div class="p-2 h-20 w-20 rounded border border-gray-300 bg-center bg-cover bg-no-repeat"
                style="background-image: url('{{ property.image_full }}');"></div>
            {% endif %}

            <div class="ml-4">
                <p class="flex flex-wrap items-center text-xl text-gray-700">
                    <span class="mr-2">{{ property.town }}</span>
                    <span class="text-sm text-gray-500">(&pound;{{ property.price }})</span>
                </p>
                <p class="text-gray-700">{{ property.address }}</p>
                <p class="text-sm text-gray-500">For {{ property.type |title }}</p>
            </div>
        </div>

        {# Delete Form #}
        <div class="mt-4">
            <form action="{{ url_for('properties.delete', {'id': property.id}) }}" method="post">
                <input type="hidden" name="_METHOD" value="DELETE" />
                <input type="submit" value="Delete Property" class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"/>
            </form>
        </div>

    </div>
</div>
{% endblock content %}