{% extends "layouts/app.twig" %}

{% block title %}
{{ property.address }}
{% endblock title %}

{% block content %}
<div class="container px-2 mx-auto">
    <div class="mt-4 p-4 bg-white shadow rounded">
        <div class="sm:flex ">
            <!-- Image -->
            {% if property.image_full %}
            <div class="p-2 h-20 w-20 rounded border border-gray-300 bg-center bg-cover bg-no-repeat"
                style="background-image: url('{{ property.image_full }}');"></div>
            {% endif %}

            <div class="ml-4">
                <p class="flex flex-wrap items-center text-xl text-gray-700">
                    <span class="mr-2">{{ property.property_type }} in {{ property.town }}</span>
                    <span class="text-sm text-gray-500">(For {{ property.type |title }})</span>
                </p>
                <p class="text-gray-700">{{ property.address }}</p>
                <p class="text-sm text-gray-500 tracking-wide uppercase">&pound;{{ property.price }}</p>
            </div>
        </div>

        <div class="mt-4">
            <div class="flex flex-wrap items-center ">
                <span class="w-5 text-right text-gray-700 text-xl ">{{ property.num_bedrooms }}</span>
                <span
                    class="ml-2 text-gray-600 text-xs tracking-wide uppercase">Bedroom{{ property.num_bedrooms > 1 ? 's' : '' }}</span>
            </div>
            <div class="flex flex-wrap items-center ">
                <span class="w-5 text-right text-gray-700 text-xl ">{{ property.num_bathrooms }}</span>
                <span
                    class="ml-2 text-gray-600 text-xs tracking-wide uppercase">Bathroom{{ property.num_bathrooms > 1 ? 's' : '' }}</span>
            </div>
            <div class="mt-4">
                <p class="text-gray-600 text-xs tracking-wide uppercase">Description:</p>
                <p class="mt-1 text-gray-700">{{ property.description }}</p>
            </div>

            <div class="mt-4">
                <p class="text-gray-600 text-xs tracking-wide uppercase">Other stuff here...</p>
            </div>
        </div>

        {# Delete Form #}
        <div class="mt-8 flex justify-end">
            <a href="{{ url_for('properties.edit', { 'id': property.id }) }}"
                class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Edit Property</a>

            <form action="{{ url_for('properties.delete', {'id': property.id}) }}" method="post"
                onsubmit="return confirmDelete()">
                <input type="hidden" name="_METHOD" value="DELETE" />
                <input type="submit" value="Delete Property"
                    class="ml-2 bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
            </form>
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const confirmDelete = () => confirm("Are you really, really sure?");
</script>
{% endblock scripts %}